nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:#1976d2;

color:white;

}

nav a{

color:white;

text-decoration:none;

margin-left:20px;

font-weight:bold;

}